@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
label,
textarea,
li {
  color: var(--primary);
  transition: color 0.25s;
  font-family: "Inter", sans-serif;
}

p,
li {
  line-height: 24px;
}

h1 {
  font-weight: 800;
}

h1,
h2 {
  font-size: 36px;
  color: var(--text);
}

h3 {
  font-size: 24px;
}

p,
input,
button,
label,
textarea,
li {
  font-size: 16px;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

.Toastify * {
  font-family: "Inter", sans-serif;
}
